#logo{
    width: 17vw;
    height: 7vh;
}

#logoW{
    width: 17vw;
    height: 7vh;
}

#heart{
    width: 2.7vw;
    height: 2.7vh;
}

#men{
    width: 2.7vw;
    height: 2.7vh;
}

#bag{
    width: 2.7vw;
    height: 2.7vh;
}

#stripes{
    width: 2.7vw;
    height: 2.7vh;
}

#gr-11{
    width: 50vw;
    height: 85vh;
}

#gr-12{
    width: 49vw;
    height: 85vh;
}

#gr-13{
    width: 50vw;
    height: 85vh;
}

#gr-14{
    width: 48vw;
    height: 85vh;
}

#gr-21{
    width: 25vw;
    height: 50vh;
}

#gr-23{
    width: 25vw;
    height: 46vh;
}

#gr-24{
    width: 25vw;
    height: 46vh;
}

#gr-25{
    width: 25vw;
    height: 46vh;
}

#gr-22{
    width: 43vw;
    height: 96vh;
}

#media{
    width: 7vw;
    height: 6.3vh;
}

#arrow{
    width: 2.7vw;
    height: 2vh;
}