.block1{
    background: linear-gradient(to right, #fff 60%, #272727 0% );
    padding-right: 11%;
    padding-left: 11%;
    padding-top: 5vh;
    
    &_navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 3vw;

        &_menu{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 10vw;

            &_first{
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 1vw;
            }
        }
    }

    &_present{
        display: flex;
        justify-content: space-between;
        align-items: center;
        // padding-right: 30%;
        padding-top: 35vh;
        
        &_text{
            width: 60%;
            position: absolute;

            &_main{
                font-size: 3em;
            }

            &_second{
                font-size: 0.9em;
                font-style: italic;
                display: flex;
                justify-content: start;
                align-items: center;
                margin-top: 5vh;

                &_hr-line{
                    width: 20%;
                    border-top: 0.3vh solid #272727;
                    margin-right: 5%;
                    margin-left: 20%;
                }
            }
        }

        &_ring{
            position: absolute;
            left: 50%;
        }
    }

    &_information{
            padding-left: 80%;
            margin-top: 30vh;
            text-align: right;
            padding-bottom: 5vh;

            &_name{
                color: #fff;
                font-size: 1em;
                margin-bottom: 1.5vh;
            }

            &_material{
                color: #C2C2C2;
                font-size: 0.7em;
                margin-bottom: 1.5vh;
            }

            &_price{
                color: #EFC58B;
                font-size: 1em;
            }
    }
}